.input_bx{
    padding: 20px;
    width: 275px;
    border: 2px solid;
    font-size: 20px;
}

.num_btn{
    padding:25px;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(233, 226, 211);
    margin:2px;
    text-align: center;
    font-size: 20px;
}

.num_btn:hover{
    background-color: rgb(182, 175, 161);

}

.input_div{

    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

.btn_div{
display: grid;
grid-template-columns: 80px 80px 80px 80px;
margin-top: 20px;
margin-left: 625px;
}
