body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator_div{
    background-color: #194a7a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}

.btn_div{
margin-top:20px;
display: grid;
grid-template-columns: repeat(4,80px);
gap:10px;

}

.input_bx{
    width: 95%;
    padding:10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
}

.num_btn{
    padding:10px;
    background-color: #476f95;
    border: 1px solid gray;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    color: #a3b7ca;
    font-size: 20px;
}

.num_btn:hover{
transform: scale(1.05);
background-color: #7593af;
}

.header{
    font-size: 30px;
    text-align: center;
    color: #d1dbe4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
